<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, eos aspernatur sed harum quia obcaecati unde! Voluptatem exercitationem natus illo aliquid quasi odio commodi quod rerum a, libero obcaecati consectetur!
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"></i> lojatopmais@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (35) 9999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i> (35) 999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
