<h2 class="contact__title">Entre em contato</h2>
<section class="contact__container">
    <form class="contact-form">
        <input type="text" placeholder="Digite o seu nome"/>
        <input type="assunto" placeholder="Digite o assunto"/>
        <input type="tel" placeholder="(00) 0000-0000"/>
        <input type="email" placeholder="Digite seu e-mail"/>
        <textarea maxlength="300"></textarea>
        <button>Enviar</button>
    </form>
    <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.5352308614483!2d-45.92976271231158!3d-22.25770629999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cbc714689400e5%3A0x6d9efd6259c53947!2sAv.%20Mois%C3%A9s%20Lopes%20da%20silva%2C%20504%20-%20S%C3%A3o%20Carlos%2C%20Pouso%20Alegre%20-%20MG%2C%2037550-000!5e0!3m2!1sen!2sbr!4v1666499176688!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
</section>
